.check-main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.check-wrapped{
    width: 500px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
