


/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  margin: 50px auto;
  width: 300px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}



.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
}

.success-message {
  color: green;
  text-align: center;
  margin-bottom: 20px;
}
/* App.css */
.submit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover effect */
.submit-button:hover {
  background-color: green;
}

/* Styles for disabled button */
.submit-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

/* Prevent hover effect when button is disabled */
.submit-button:disabled:hover {
  background-color: #ccc;
}
